.App {
  font-family: sans-serif;
  text-align: center;
}
.nav-wrapper {
}

.post-details {
  border-radius: 10px;
}

.inputs {
  border-radius: 10px;
}

.dashboard-cards {
  border: 2px solid #90a4ae;
}
.row {
  align-items: center;
}

.signin-form {
  width: 480px;
  margin-top: 100px;
}

label {
  color: white;
}

input {
  color: white;
  letter-spacing: 1px;
}

textarea {
  color: white;
  letter-spacing: 1px;
}

.left-sidenav {
  width: 40px;
}

.right-content {
  margin-top: 25px;
}

.col.l2 {
  min-height: 100vh;
  position: fixed;
}

.side-back {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.sidenav-btn {
  width: 100%;
  position: relative;
  top: 10px;
  left: 0;
  margin-top: 3px;
  color: white;
  font-size: 20px;
  text-align: left;
}

.material-icons {
  margin-right: 10px;
}

.inactive {
  color: white;
  text-decoration: none;
}

.sidenav-btn:hover {
  color: aqua;
}
.notifications-panel {
  position: fixed;
}
.input-field {
  width: 400px;
  margin-bottom: 20px;
}
.input-field label {
  color: white;
}
.input-field input[type="text"]:focus + label {
  color: #1d5dc4;
}
.input-field .prefix.active {
  color: #1d5dc4;
}
/* label underline focus color */
.input-field :focus {
  border-bottom: 1px solid #1d5dc4 !important;
  box-shadow: 0 1px 0 0 #1d5dc4 !important;
  color: black;
}
#tos {
  color: #0d47a1;
}
#error {
  font-size: 15px;
  color: red;
}
.url {
  border: 3px solid #f9a825 !important;
  border-radius: 10px !important;
  color: black;
  width: 40% !important;
  margin-top: 30px !important;
  background-color: #e0e0e0 !important;
  text-indent: 10px;
}
::placeholder {
  color: #1d5dc4;
  padding-left: 5px;
}
.custom-url {
  margin-top: 30px !important;
}
.custom {
  border: 3px solid #f9a825 !important;
  border-radius: 10px !important;
  color: black;
  width: 40% !important;
  background-color: #e0e0e0 !important;
  text-indent: 10px;
}
#link_label {
  border: 3px solid #f9a825 !important;
  border-radius: 10px !important;
  color: black;
  width: 40% !important;
  background-color: #e0e0e0 !important;
  text-indent: 10px;
  margin-top: 30px !important;
}
.custom-message {
  margin-top: 30px !important;
  font-size: 18px;
}
#expire {
  align-content: center;
  color: black;
  background-color: #e0e0e0;
  border-radius: 10px;
  width: 25%;
}
.shorten-button {
  margin-top: 15px;
}
td {
  overflow: hidden;
  max-width: 100px;
  text-overflow: initial;
}
.link_info {
  width: 25%;
  margin: auto;
  margin-top: 50px !important;
  border-radius: 10px;
}
.card-content {
  text-align: left;
}
caption {
  font-size: 25px;
  margin-bottom: 30px;
}
.all_links {
  margin: 200px;
  margin-top: 10px !important;
}
table, th,td {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  overflow: hidden;
  text-overflow: ellipsis;
}
.loggedout {
  margin-top: 50px;
}
.logo {
  width: 50px;
  height: auto;
}
.bar {
  height: 300px;
  width: 1000px;
}