.App {
  font-family: sans-serif;
  text-align: center;
}
.nav-wrapper {
}

.post-details {
  border-radius: 10px;
}

.inputs {
  border-radius: 10px;
}

.dashboard-cards {
  border: 2px solid #90a4ae;
}
.row {
  align-items: center;
}

.signin-form {
  width: 480px;
  margin-top: 100px;
}

label {
  color: white;
}

input {
  color: white;
  letter-spacing: 1px;
}

textarea {
  color: white;
  letter-spacing: 1px;
}

.left-sidenav {
  width: 40px;
}

.right-content {
  margin-top: 25px;
}

.col.l2 {
  min-height: 100vh;
  position: fixed;
}

.side-back {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.sidenav-btn {
  width: 100%;
  position: relative;
  top: 10px;
  left: 0;
  margin-top: 3px;
  color: white;
  font-size: 20px;
  text-align: left;
}

.material-icons {
  margin-right: 10px;
}

.inactive {
  color: white;
  text-decoration: none;
}

.sidenav-btn:hover {
  color: aqua;
}
.notifications-panel {
  position: fixed;
}
.input-field {
  width: 400px;
  margin-bottom: 20px;
}
.input-field label {
  color: white;
}
.input-field input[type="text"]:focus + label {
  color: #1d5dc4;
}
.input-field .prefix.active {
  color: #1d5dc4;
}
/* label underline focus color */
.input-field :focus {
  border-bottom: 1px solid #1d5dc4 !important;
  box-shadow: 0 1px 0 0 #1d5dc4 !important;
}
